<div class="es-control">
  <div class="input-field" {{action 'focus'}}>
    {{#if hasValues}}
      <span class="es-selections">
        {{#each values as |option|}}
          <span {{action 'remove' option}}>
            {{if (get option labelKey) (get option labelKey) option}} ×
          </span>
        {{/each}}
      </span>
    {{/if}}

    <input type="text"
      autocomplete="off"
      autofocus={{autofocus}}
      readonly={{unless canSearch 'readonly'}}

      oninput={{action 'change' value='target.value'}}
      onkeydown={{action 'keypress'}}
      onfocus={{action 'focus'}}
      onblur={{action 'blur'}}>

    <label class="{{if isActive 'active'}}">
      {{label}}
    </label>

    {{yield}}
  </div>

  {{#if hasDropdown}}
    <span class="es-arrow-zone" {{action 'dropdown' on='mouseDown'}}>
      <span class="es-arrow"></span>
    </span>
  {{/if}}
</div>

{{#if isOpen}}
  <div class="es-options z-depth-1">
    {{component dropdown parent=this
      model=model token=token values=values
      labelKey=labelKey valueKey=valueKey
      freeText=freeText shouldFilter=shouldFilter
      select=(action 'select')}}
  </div>
{{/if}}
